In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
from config import api_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Qaanaaq,77.4840,-69.3632,42.26,65,38,5.97,GL,8/2/2022 5:01
1,1,Hong Gai,20.9560,107.0946,89.51,60,69,7.70,VN,8/2/2022 5:01
2,2,Denpasar,-8.6500,115.2167,83.86,83,40,12.66,ID,8/2/2022 5:00
3,3,Ribeira Grande,38.5167,-28.7000,73.96,74,3,11.65,PT,8/2/2022 5:01
4,4,Umm Kaddadah,13.6017,26.6876,74.98,70,28,12.66,SD,8/2/2022 5:01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Google API Key
api_key = "your Google API key goes here"

In [5]:
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent Wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Hong Gai,20.9560,107.0946,89.51,60,69,7.70,VN,8/2/2022 5:01
2,2,Denpasar,-8.6500,115.2167,83.86,83,40,12.66,ID,8/2/2022 5:00
5,5,Carmona,14.3000,121.0167,86.67,75,100,1.92,PH,8/2/2022 5:01
9,9,Avarua,-21.2078,-159.7750,75.25,60,100,6.91,CK,8/2/2022 5:01
18,18,Arlit,18.7369,7.3853,84.40,47,99,12.06,NE,8/2/2022 5:01
24,24,Laguna,38.4210,-121.4238,78.04,67,0,3.44,US,8/2/2022 4:58
25,25,Monrovia,6.3005,-10.7969,75.60,80,100,12.80,LR,8/2/2022 5:01
29,29,Linqiong,30.4159,103.4609,77.05,84,100,1.70,CN,8/2/2022 5:01
31,31,Eustis,28.8528,-81.6853,81.01,79,61,1.99,US,8/2/2022 4:58
33,33,Bathsheba,13.2167,-59.5167,81.05,90,100,15.90,BB,8/2/2022 5:01

In [12]:
preferred_cities_df.count()

City_ID       170
City          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
Country       170
Date          170
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
1    Hong Gai      VN     89.51  20.9560  107.0946
2    Denpasar      ID     83.86  -8.6500  115.2167
5     Carmona      PH     86.67  14.3000  121.0167
9      Avarua      CK     75.25 -21.2078 -159.7750
18      Arlit      NE     84.40  18.7369    7.3853
24     Laguna      US     78.04  38.4210 -121.4238
25   Monrovia      LR     75.60   6.3005  -10.7969
29   Linqiong      CN     77.05  30.4159  103.4609
31     Eustis      US     81.01  28.8528  -81.6853
33  Bathsheba      BB     81.05  13.2167  -59.5167

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [24]:
# Import the dependencies.
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from datetime import datetime

In [16]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   # hotel_df.loc[index,"Hotel Name"] = hotels["results"][0]["name"]
   # Grab the first hotel from the results and store the name.
    
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [17]:
hotel_df

                City Country  Max Temp      Lat       Lng Hotel Name
1           Hong Gai      VN     89.51  20.9560  107.0946
2           Denpasar      ID     83.86  -8.6500  115.2167
5            Carmona      PH     86.67  14.3000  121.0167
9             Avarua      CK     75.25 -21.2078 -159.7750
18             Arlit      NE     84.40  18.7369    7.3853
..               ...     ...       ...      ...       ...        ...
554  Manavalakurichi      IN     78.96   8.1333   77.3000
559           Itoman      JP     89.62  26.1247  127.6694
560          Samarai      PG     81.27 -10.6167  150.6667
566          Kahului      US     78.82  20.8947 -156.4700
567              Gat      IL     79.48  31.6100   34.7642   OlusHome

[170 rows x 6 columns]

In [18]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))